/* p{
   color:blue;
}*/

#gigoe{
    font-size: larger
}

.silly{
    color:red
}

.color{
    background-color:black;
}

.billy{
    color:red;
}

.milly{
    border: 3px red solid;
    
    background-color: antiquewhite;
}